# Python Tools for Visual Studio (PTVS)
__pycache__/
venv
.vscode
*.log
*.zip
*.yaml
docker-compose-back.yaml
docker-compose-back-vm1.yaml
docker-compose.yaml
Dockerfile.back
Dockerfile
dockerfiles/
api/settings/database.ini
update_data_compose.sh
Dockerfile.mockimage
api/settings/config.py
only_camino_back_update.sh
